/* index-Navbar */
/*---------------------*/
.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 2px;
    text-decoration: none !important;
    box-shadow:none !important;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F37021;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.nav-link {
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 8px 15px;
}

.nav-link:hover {
    background-color: rgba(243, 112, 33, 0.2);
    color: #F37021 !important;
}

.nav-new-indicator {
    position: relative; 
}

.dot-indicator {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #F37021;
    border-radius: 50%;
    top: 4px;
    right: -1px;
    border: 1px solid white;
    pointer-events: none;
}
/*---------------------*/
/* index-Navbar and container-fluid divider */
.nav-divider {
    height: 3px;           
    background-color: #F37021;
    border: none;          
    margin: 0;          
    opacity: 1;     
}
/*---------------------*/